@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #2b2b2b;
}
header ul li a.active span::after {
  content: "";
  height: 2px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: -5px;
  background-color: #a259ff;
}
.primare_btn {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  border-radius: 20px;
}
.secendary__btn {
  padding: 20px 50px;
  border: 2px solid #a259ff;
  border-radius: 20px;
}
h1,
h2,
h4,
h5,
h6 {
  font-family: "Work Sans", serif;
}
h3 {
  font-family: "Space Mono", serif;
}
.magic {
  background-image: url(assets/NFT\ Highlight.png);
  background-position: center center;
  background-size: cover;
}
.magic__time,
.categori__curdsvg__box {
  backdrop-filter: blur(12px);
}

@media (min-width: 834px) {
  .mb2__btn {
    display: flex;
    align-items: center;
  }
  .mb__btn {
    display: none;
  }
}

@theme {
  --color-bag: #2b2b2b;
  --color-bag__sec: #3b3b3b;
  --color-caption: #858584;
  --color-action: #a259ff;
  --breakpoint-md2: 834px;
  --breakpoint-lg2: 1280px;

  --font-space__mono: "Space Mono", serif;
  --font-work__sans: "Work Sans", serif;
  --text-67: 67px;
  --text-51: 51px;
  --text-38: 38px;
  --text-28: 28px;
  --text-22: 22px;
  --text-12: 12px;

  --radius-20: 20px;

  --spacing-0_5: 2px;
  --spacing-1_4: 5px;
  --spacing-1_5: 6px;
  --spacing-1_9: 9px;
  --spacing-2_5: 10px;
  --spacing-3_5: 14px;
  --spacing-3_6: 15px;
  --spacing-4_5: 16px;
  --spacing-4_8: 18px;
  --spacing-5_3: 23px;
  --spacing-6_5: 25px;
  --spacing-6_6: 26px;
  --spacing-7_5: 30px;
  --spacing-8_5: 34px;
  --spacing-10_5: 42px;
  --spacing-10_6: 44px;
  --spacing-40_2: 162px;
  --spacing-12_5: 50px;
  --spacing-12_6: 54px;
  --spacing-14_5: 60px;
  --spacing-14_7: 62px;
  --spacing-16_5: 70px;
  --spacing-16_6: 72px;
  --spacing-24_5: 100px;
  --spacing-24_6: 115px;
  --spacing-24_7: 120px;
  --spacing-33: 132px;
  --spacing-33: 132px;
  --spacing-36_5: 150px;
  --spacing-36_6: 162px;
  --spacing-20_2: 82px;

  --tracking-3: -3%;

  --leading-110: 110%;
  --leading-120: 120%;
  --leading-140: 140%;
  --leading-160: 160%;

  --container-wrapper: 1280px;

  --shadow-ss2: 0px 0px 0px 4px #191919;
  --shadow-ss1: 0px 0px 0px 6px #191919;
  --ease-bounce: cubic-bezier(0.04, 1.25, 1, 1);
}
